<html>
    <head>
        <meta name="google-signin-client_id" content="463712655499-f9d45054qk3ag0bbebvnqd5q8cndsepr.apps.googleusercontent.com">
        <%- include("head.ejs") %>
        <link href="./css/login.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <div id="login-container">
            <div id="slider-box" class="col-5">
                <div id="base-login" style="transform:translateX(0%)">
                    <div class="login-text">
                        <h2>Log In</h2>
                        <h6>For Tutees, Parents, and Tutors</h6>
                    </div>
                    <hr>
                    <div class="signin-opts">
                        <form>
                            <label class="form-label" for="tutee-email">Log In</label><br>
                            <input type="text" name="tutee-email" placeholder="example@email.com"><br><br>
                            <input type="text" name="tutee-email" placeholder="password"><br><br>
                            <input type="button" id="child-link-next" value="Next">
                        </form>
                    </div>
                </div>
                <div id="role-select">
                    <div class="login-text">
                        <h2>Are You a Tutee or Parent?</h2>
                        <h6>Please Select an Option Below</h6>
                    </div>
                    <hr>
                    <div class="signin-opts">
                        <button id="role-tutee">Tutee</button>
                        <button id="role-parent">Parent</button>
                    </div>
                </div>
                <div id="parent-tutee-dialog">
                    <div class="login-text">
                        <h2>Does Your Tutee Have An Account?</h2>
                        <h6>Please Select an Option Below</h6>
                    </div>
                    <hr>
                    <div class="signin-opts">
                        <button id="child-acc-yes">Yes</button>
                        <button id="child-acc-no">No</button>
                    </div>
                </div>
                <div id="parent-child-link">
                    <div class="login-text">
                        <h2>Signed Up Tutee Information</h2>
                        <h6>Please Input The Following Information</h6>
                    </div>
                    <hr>
                    <form>
                        <label class="form-label" for="tutee-email">Tutee Email</label><br>
                        <input type="text" name="tutee-email" placeholder="tutee@email.com"><br><br>
                        <input type="button" id="child-link-next" value="Next">
                    </form>
                </div>
                <div id="tutee-info">
                    <div class="login-text">
                        <h2>Tutee Information</h2>
                        <h6>Please Input The Following Information</h6>
                    </div>
                    <hr>
                    <form>
                        <div class="tutee-hide">
                            <label class="form-label" for="tutee-name">Tutee Name</label><br>
                            <input type="text" name="tutee-name" placeholder="Last, First"><br><br>
                            <label class="form-label" for="tutee-email">Tutee Email (optional)</label><br>
                            <input type="text" name="tutee-email" placeholder="tutee@email.com"><br><br>
                        </div>
                        <div class="parent-hide">
                            <label class="form-label" for="parent-email">Parent Email(s)</label><br>
                            <input type="text" name="parent-email" placeholder="parent@email.com"><br><br>
                        </div>
                        <label for="tutee-grad-year" class="form-label">Tutee's High School Graduation Year:</label><br>
                        <input type="number" name="tutee-grad-year" id="tutee-grad-year" placeholder="YYYY" min="1970" max="9999"><br><br>
                        <script>
                            document.getElementById("tutee-grad-year").min = new Date().getFullYear();
                            document.getElementById("tutee-grad-year").value = new Date().getFullYear();
                        </script>
                        <input type="button" id="tutee-info-next" value="Next">
                    </form>
                </div>
            </div>
        </div>
        <%- include("footer.ejs") %>
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="./js/login.js"></script>
    </body>
</html>