<html>
    <head>
        <meta name="google-signin-client_id" content="463712655499-f9d45054qk3ag0bbebvnqd5q8cndsepr.apps.googleusercontent.com">
        <%- include("head.ejs") %>
        <link href="./css/login.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <div>
            <center>
                <h1>You have successfully registered</h1>
                <h1>Please <a href="/login">Login</a></h1>
                <img src="img/merrytutorlogo.png" alt="Not Working" width="400" height="250">
            </center>
        </div>
        <br>
        </br>
        <br>
        </br>
        <br>
        </br>
        <br>
    </br>





        <%- include("footer.ejs") %>
        <!--
        <script src="https://apis.google.com/js/api.js"></script>
        <script src="./js/passportLogin.js"></script>
        -->
    </body>
</html>