<html>
    <head>
        <meta name="google-signin-client_id" content="1037005622588-7dul28gjauau6d2b3572ue7vq9cgggcc.apps.googleusercontent.com">
        <%- include("head.ejs") %>
        <link href="./css/login.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <%- include("navbar.ejs") %>
        <div id="login-container">
            <div id="slider-box" class="col-5">
                <div id="base-login" style="transform:translateX(0%)">
                    <div class="login-text">
                        <h2>Sign Up</h2>
                        <h6>For Tutees, Parents, and Tutors</h6>
                    </div>
                    <hr>
                    <div id="signup-info">
                        <form>
                            <label class="form-label" for="tutee-email">Sign Up</label><br>
                            <input type="text" name="first-name" placeholder="First Name"><br><br>
                            <input type="text" name="last-name" placeholder="Last Name"><br><br>
                            <input type="text" name="username" placeholder="example@email.com"><br><br>
                            <input type="password" name="password" placeholder="Password"><br><br>
                            <input type="password" name="password2" placeholder="Confirm Password"><br><br>
                            <!-- <input type="tutee-grad-year" name="tutee-grad-year" placeholder="Graduation Year(Tutee only)"><br><br> -->
                            <form>
                                <label for="gradyear-select">Graduation Year:</label>
                                <select id="year">
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                    <option value="2031">2031</option>
                                    <option value="2032">2032</option>
                                    <option value="2033">2033</option>
                                    <option value="parent">I'm a parent</option>
                                </select>
                                <br><br>
                            </form>
                            <form>
                                <label for="role-select">Choose a role:</label>
                                <select id="roles">
                                    <option value="tutee">Tutee</option>
                                    <option value="parent">Parent</option>
                                    <option value="tutor">Tutor</option>
                                </select>
                                <br><br>
                            </form>
                            <input type="button" id = "auth-register" value="Register">
                        </form>
                        <h6 class="form-label" for="tutee-email">Already Have an Account? <a href="/login">Login</a></h6>
                    </div>
                </div>
            </div>
        </div>
        <%- include("footer.ejs") %>
        
        <script src="./js/register.js"></script>
    </body>
</html>